# Diagnose change in HH550 visualization between two commits.

In [1]:
import io
import gzip
import requests
import pandas

In [2]:
url = 'https://raw.githubusercontent.com/dhimmel/snplentiful/5238adf66c9a2566e04ca81666fa6b4d47394fa1/data/platforms/combined.tsv'
#new_df = pandas.read_table(gzip.open(io.BytesIO(requests.get(url).content), 'rt'))
new_df = pandas.read_table(url)
new_df.head()

,chromosome,chromosome_start,chromosome_end,entrez_gene_id,snps_hh550,snps_ho1,snps_affy500,snps_exac,snps_kg3
0,chr1,69055,70108,79501,0,0,0,4,10
1,chr1,860260,879955,148398,0,13,0,9,159
2,chr1,879584,894689,26155,0,22,0,21,125
3,chr1,895967,901095,339451,0,19,0,25,113
4,chr1,901877,911245,84069,0,15,0,28,131

In [3]:
url = 'https://raw.githubusercontent.com/dhimmel/snplentiful/b795aa195a2c2f35bafb1e6b33c4819bff30d0a7/data/hh550-entrez.bed'
old_df = pandas.read_table(url, names=['chromosome', 'chromosome_start', 'chromosome_end', 'entrez_gene_id', 'snps_hh550'])
old_df.head()

  chromosome  chromosome_start  chromosome_end  entrez_gene_id  snps_hh550
0       chr1             69055           70108           79501           0
1       chr1            860260          879955          148398           0
2       chr1            879584          894689           26155           0
3       chr1            895967          901095          339451           0
4       chr1            901877          911245           84069           0

In [4]:
new_df = new_df[['chromosome', 'entrez_gene_id', 'snps_hh550']].rename(columns={'snps_hh550': 'snps_hh550_new'})
old_df = old_df[['entrez_gene_id', 'snps_hh550']].rename(columns={'snps_hh550': 'snps_hh550_old'})

In [5]:
combined_df = new_df.merge(old_df, how='outer')

In [8]:
combined_df['agree'] = (combined_df.snps_hh550_new == combined_df.snps_hh550_old).astype(int)

In [9]:
# Check agreement
combined_df.groupby('chromosome').agree.mean().reset_index()

   chromosome     agree
0        chr1  1.000000
1       chr10  1.000000
2       chr11  1.000000
3       chr12  1.000000
4       chr13  1.000000
5       chr14  1.000000
6       chr15  1.000000
7       chr16  1.000000
8       chr17  1.000000
9       chr18  1.000000
10      chr19  1.000000
11       chr2  1.000000
12      chr20  1.000000
13      chr21  1.000000
14      chr22  1.000000
15       chr3  1.000000
16       chr4  1.000000
17       chr5  1.000000
18       chr6  1.000000
19       chr7  1.000000
20       chr8  1.000000
21       chr9  1.000000
22       chrX  0.112717
23       chrY  0.800000